GifLentoLogos.gif filter=lfs diff=lfs merge=lfs -text
GifLentosinfondo.gif filter=lfs diff=lfs merge=lfs -text
gifdefinitivo.gif filter=lfs diff=lfs merge=lfs -text
animacion.gif filter=lfs diff=lfs merge=lfs -text
